/* ------------------------------ colors ------------------- */
.palette {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.palette > div {
    width: 120px;
    height: 120px;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border: none;
}

.palette-primary {
    background-color: var(--primary-color);
}

.palette-secondary {
    background-color: var(--secondary-color);
}

.palette-alert {
    background-color: var(--alert-color);
}

.palette-success {
    background-color: var(--success-color);
}

.palette-warning {
    background-color: var(--warning-color);
}