
/*--------------------------- Main container -------------------------*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav nav"
    "sidebar sidebar contentarea contentarea contentarea"
    "sidebar sidebar contentarea contentarea contentarea"
    "sidebar sidebar contentarea contentarea contentarea";
}

.navbar {
  grid-area: nav;
}

.side-bar {
  grid-area: sidebar;
}

.content {
  grid-area: contentarea;
}
