
/*--------------------------- Main container -------------------------*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav nav"
    "... sidebar contentarea contentarea contentarea"
    "... sidebar contentarea contentarea contentarea"
    "... sidebar contentarea contentarea contentarea";
}

.navbar {
  grid-area: nav;
}

.side-bar {
  grid-area: sidebar;
}

.content {
  grid-area: contentarea;
}















.card-container {
  width: 30rem;
  height: auto;
  color: #000000;
  background-color: var(--card-container-bg);
}

.card-img-container {
  position: relative;
}

.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.overlay-bottom {
  position: absolute;
  bottom: 0;
  color: var(--white);
  margin: 1rem 1.5rem;
}

.overlay-top {
  position: absolute;
  top: 0;
  color: var(--white);
  margin: 1rem 1.5rem;
}