.content {
  color: var(--white);
  margin-right: auto;
  max-width: 80rem;
  padding-right: 1rem;
}

.content-container {
  border: 1px solid var(--primary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #232628;
  min-height: 20rem;
  flex-wrap: wrap;
  font-size: 2rem;
}

.content-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--header-color);
  letter-spacing: 0.2rem;
}

.sub-content {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--content-color);
}

iframe {
    width: 50rem; 
    height: 25rem; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.page-change {
    display: none;
}

.page-change > a {
    text-decoration: none;
    color: var(--primary-color);
}

.color-tag {
    margin-left: auto;
}
