/* ----------------- header ------------------ */

nav {
  padding: 2.5rem;
  margin-bottom: 5rem;
  background-color: var(--nav-bg-color);
  display: flex;
  align-items: center;
}

.name {
  color: var(--primary-color);
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin-left: 15rem;
}

.icon-container {
  font-size: 3rem;
  margin-left: auto;
  margin-right: 10rem;
}

.icon-container a {
  margin: 0 3rem;
}

.icon-container a:hover {
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
}