@media screen and (max-width: 1150px) {
  html {
    font-size: 67%;
  }

  .content {
    margin-left: auto;
  }

  .container {
    grid-template-columns: 30rem 1fr 1fr;
    grid-template-areas:
      "nav nav nav"
      "sidebar contentarea contentarea"
      "sidebar contentarea contentarea"
      "sidebar contentarea contentarea";
  }

  .side-bar {
    margin-right: 5rem;
    margin-left: 1rem;
  }

  .name {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 65%;
  }

  .container {
    grid-template-columns: 20rem 1fr 1fr;
    grid-template-areas:
      "nav nav nav"
      "sidebar contentarea contentarea"
      "sidebar contentarea contentarea"
      "sidebar contentarea contentarea";
  }

  .side-bar {
    padding-left: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .list-subtopic {
    margin-left: 2rem;
  }

  .content {
    padding: 1rem;
    margin-left: auto;
  }

  .list-topic {
    padding: 2rem;
    font-size: 2.5rem;
  }

  iframe {
    width: 50rem;
    height: 25rem;
    border: 0;
    transform: scale(1);
    overflow: hidden;
  }

  .name {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 70%;
  }

  iframe {
    width: 33rem;
    height: 20rem;
    border: 0;
    transform: scale(1);
    overflow: hidden;
  }

  .page-change {
    display: block;
    width: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "contentarea contentarea"
      "contentarea contentarea"
      "contentarea contentarea";
  }

  .side-bar {
    display: none;
  }

  .list-topic {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0;
    padding-left: 0;
  }

  nav {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--nav-bg-color);
  }

  .name {
    color: var(--primary-color);
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }

}
