<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/content.css" />
    <link rel="stylesheet" href="../../css/divider.css" />
    <link rel="stylesheet" href="../../css/container.css" />
    <link rel="stylesheet" href="../../css/media-query.css" />
    <link
      rel="stylesheet"
      href="https://storm-components.netlify.app/components.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Image | Storm UI</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a class="name" href="../index.html">STORM</a>
        <div class="icon-container">
          <a href="https://github.com/B0llu">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/TheBestDhruv">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </nav>
      <div class="side-bar">
        <div class="nested-list stick">
          <div>
            <h1 class="list-topic">Get Started</h1>
            <ul class="list-subtopic">
              <li>
                <a
                  class="link-hover"
                  href="../../Documentation/Introduction.html"
                  >Introduction</a
                >
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Color.html"
                  >Colors</a
                >
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Typography.html"
                  >Typography</a
                >
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Conclusion.html"
                  >Conclusion</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h1 class="list-topic">Components</h1>
            <ul class="list-subtopic">
              <li>
                <a class="link-hover" href="../Avatar/Avatar.html">Avatar</a>
              </li>
              <li>
                <a class="link-hover" href="../Badge/Badge.html">Badge</a>
              </li>
              <li>
                <a class="link-hover" href="../Alert/Alert.html">Alert</a>
              </li>
              <li>
                <a class="link-hover" href="../Button/Button.html">Button</a>
              </li>
              <li><a class="link-hover" href="../Card/card.html">Card</a></li>
              <li><a class="link-active" href="./image.html">Image</a></li>
              <li><a class="link-hover" href="../Input/input.html">Input</a></li>
              <li><a class="link-hover" href="../text-utilites/text-utilites.html">Text Utilities</a></li>
              <li><a class="link-hover" href="../lists/lists.html">Lists</a></li>
              <li><a class="link-hover" href="../navigation/navigation.html">Navigation</a></li>
              <li><a class="link-hover" href="../modal/modal.html">Modal</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content">
        <h1 class="content-title">Image</h1>
        <p class="sub-content">
          Responsive Image Components are used to display Images on websites,
          which are screen responsive. They expand upto the width of the
          container they are in.
        </p>
        <div class="divider"></div>
        <h1 class="content-title">Square Image</h1>
        <p class="sub-content">Square Images are the square shaped, with a default dimension of 15rem X 15rem.
            <div class="content-container">
                <img src="../../Assets/image-component-1.jpg" alt="abstract-image" class="sq-img">
                <img src="../../Assets/image-component-2.jpg" alt="abstract-image" class="sq-img">
            </div>
        </p>
        <iframe class="iframe-h-30"
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522content-container%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520class%253D%2522sq-img%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520class%253D%2522sq-img%2522%253E%250A%2520%2520%250A%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
<div class="divider"></div>
<h1 class="content-title">Round Image</h1>
        <p class="sub-content">Round Images are the circular, with a default dimension of 15rem X 15rem.
            <div class="content-container">
                <img src="../../Assets/image-component-1.jpg" alt="abstract-image" class="round-img">
                <img src="../../Assets/image-component-2.jpg" alt="abstract-image" class="round-img">
            </div>
        </p>
        <iframe class="iframe-h-30"
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522content-container%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520class%253D%2522round-img%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520class%253D%2522round-img%2522%253E%250A%2520%2520%250A%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
<div class="divider"></div>
<h1 class="content-title">Full Width Image</h1>
        <p class="sub-content">Full Width Image is the one that expands to cover the container it is present in.
            <br>
Note : Resize the browser window, to see the responsive property.
            <div class="content-container">
                <div>
                    <img src="../../Assets/image-component-1.jpg" alt="abstract-image" class="rsp-img">
                </div>
            </div>
        </p>
        <iframe class="iframe-h-28"
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%253E%250A%2520%2520%250A%2509%253Cimg%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%2520class%253D%2522rsp-img%2522%253E%250A%2520%2520%250A%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
<div class="divider"></div>
<div class="page-change">
                <a href="../Card/card.html"> < Card</a>
                <a href="../Input/input.html">Input ></a>
              </div>
      </div>
    </div>
  </body>
</html>
