@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --default-color: #101011;
  --white: #ffffff;
  --red: #ff002b;
  --primary-color: #55E5F5;
  --secondary-color: #f3f4f6;
}

body {
  background-color: var(--default-color);
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.header {
  font-size: 12rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header-tag {
  max-width: 50rem;
  color: var(--white);
  padding-top: 3rem;
  line-height: 4rem;
  font-size: 3.5rem;
}

.subhead {
  max-width: 50rem;
  padding-top: 3rem;
  color: var(--white);
  font-size: 1.7rem;
}

.two-btn {
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  width: 50rem;
}

.btn {
  font-weight: 500;
  width: 15rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #101011;
}

.btn-primary:hover {
  background-color: #12cde2;
  color: #101011;
  transition: 0.5s ease-in-out;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #101011;
}

.btn-secondary:hover {
  background-color: #c7ccd5;
  transition: 0.5s ease-in-out;
  color: #101011;
}

@media screen and (max-width: 850px) {
  html {
    font-size: 65%;
  }

  .header {
    font-size: 9rem;
    width: 45rem;
  }

  .header-tag {
    width: 45rem;
  }

  .subhead {
    width: 45rem;
  }

  .two-btn {
    width: 45rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .header {
    font-size: 8rem;
    width: 37rem;
  }

  .header-tag {
    width: 37rem;
  }

  .subhead {
    width: 37rem;
  }

  .two-btn {
    width: 37rem;
  }
}
