<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/content.css" />
    <link rel="stylesheet" href="../../css/divider.css" />
    <link rel="stylesheet" href="../../css/container.css" />
    <link rel="stylesheet" href="../../css/media-query.css">
    <link
      rel="stylesheet"
      href="https://storm-components.netlify.app/components.css"
    />
    <title>Storm UI</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a class="name" href="../../index.html">STORM</a>
      </nav>
      <div class="side-bar">
        <div class="nested-list stick">
          <div>
            <h1 class="list-topic">Get Started</h1>
            <div class="list-subtopic">
              <li>
                <a class="link-hover" href="../../Documentation/Introduction.html">Introduction</a>
              </li>
              <li><a class="link-hover" href="../../Documentation/Color.html">Colors</a></li>
              <li>
                <a class="link-hover" href="../../Documentation/Typography.html">Typography</a>
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Conclusion.html">Conclusion</a>
              </li>
            </div>
          </div>
          <div>
            <h1 class="list-topic">Components</h1>
            <div class="list-subtopic">
              <li>
                <a class="link-hover" href="../Avatar/Avatar.html">Avatar</a>
              </li>
              <li><a class="link-hover" href="../Badge/Badge.html">Badge</a></li>
              <li><a class="link-hover" href="../Alert/Alert.html">Alert</a></li>
              <li><a class="link-active" href="./Button.html">Button</a></li>
              <li><a class="link-hover" href="#">Card</a></li>
              <li><a class="link-hover" href="#">Image</a></li>
              <li><a class="link-hover" href="#">Input</a></li>
            </div>
          </div>
        </div>
        <div></div>
      </div>
        <div class="divider"></div>
        <div class="page-change">
            <a href="../Alert/Alert.html"> < Alert</a>
            <a href="../Alert/Alert.html">Card ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
