<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../css/header.css" />
  <link rel="stylesheet" href="../../css/sidebar.css" />
  <link rel="stylesheet" href="../../css/content.css" />
  <link rel="stylesheet" href="../../css/divider.css" />
  <link rel="stylesheet" href="../../css/container.css" />
  <link rel="stylesheet" href="../../css/media-query.css">
  <link rel="stylesheet" href="https://storm-components.netlify.app/components.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Button | Storm UI</title>
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <a class="name" href="../../index.html"><i class="fas fa-bolt"></i> STORM</a>
      <div class="icon-container">
        <a href="https://github.com/b0llu/storm-documentation-site/tree/developer">
          <i class="fab fa-github icon"></i>
        </a>
        <a href="https://twitter.com/TheBestDhruv">
          <i class="fab fa-twitter icon"></i>
        </a>
        <a>
          <i id="toggle-theme" class="fas fa-moon icon"></i>
        </a>
      </div>
    </nav>
    <div id="sidebar-menu" class="side-bar position-hidden">
      <div class="nested-list stick">
        <div>
          <h1 class="list-topic display-flex">Get Started <span class="margin-left"><i id="close-sidebar"
                class="fas fa-times-circle"></i></span></h1>
          <ul class="list-subtopic">
            <li>
              <a class="link-hover" href="../../Documentation/Introduction.html">Introduction</a>
            </li>
            <li><a class="link-hover" href="../../Documentation/Color.html">Colors</a></li>
            <li>
              <a class="link-hover" href="../../Documentation/Typography.html">Typography</a>
            </li>
            <li>
              <a class="link-hover" href="../../Documentation/Conclusion.html">Conclusion</a>
            </li>
          </ul>
        </div>
        <div>
          <h1 class="list-topic">Components</h1>
          <ul class="list-subtopic">
            <li>
              <a class="link-hover" href="../Avatar/Avatar.html">Avatar</a>
            </li>
            <li><a class="link-hover" href="../Badge/Badge.html">Badge</a></li>
            <li><a class="link-hover" href="../Alert/Alert.html">Alert</a></li>
            <li><a class="link-active" href="./Button.html">Button</a></li>
            <li><a class="link-hover" href="../Card/card.html">Card</a></li>
            <li><a class="link-hover" href="../Image/image.html">Image</a></li>
            <li><a class="link-hover" href="../Input/input.html">Input</a></li>
            <li><a class="link-hover" href="../text-utilites/text-utilites.html">Text Utilities</a></li>
            <li><a class="link-hoveer" href="../lists/lists.html">Lists</a></li>
            <li><a class="link-hover" href="../navigation/navigation.html">Navigation</a></li>
            <li><a class="link-hover" href="../modal/modal.html">Modal</a></li>
            <li><a class="link-hover" href="../rating/rating.html">Rating</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="content">
      <i id="sidebar-toggle" class="fas fa-bars hamburger"></i>
      <h1 class="content-title">Button</h1>
      <p class="sub-content">
        Buttons are the soul of an interactive Web Application. Buttons allow users to take actions, and make choices,
        with a single tap.
      </p>
      <div class="divider"></div>
      <h1 class="content-title">
        Contained Button
      </h1>
      <p class="sub-content">
        Contained buttons are high-emphasis, distinguished by their use of elevation and fill. They contain actions that
        are primary to your app.
        <br>
        <div class="content-container">
          <button class="btn btn-shadow">Default</button>
          <button class="btn primary-btn btn-shadow">Primary</button>
          <button class="btn secondary-btn btn-shadow">Secondary</button>
          <button class="btn disabled-btn btn-shadow">Disabled</button>
        </div>
      </p>
      <iframe class="iframe-h-35"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-shadow%2522%253EDefault%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520primary-btn%2520btn-shadow%2522%253EPrimary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520secondary-btn%2520btn-shadow%2522%253ESecondary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520disabled-btn%2520btn-shadow%2522%253EDisabled%253C%252Fbutton%253E%250A"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <div class="divider"></div>
      <h1 class="content-title">Outline Button</h1>
      <p class="sub-content">
        In need of a button, but not the hefty background colors they bring? Replace '.variant-btn' with
        '.outline-variant'.
        <div class="content-container">
          <button class="btn outline-primary">Primary</button>
          <button class="btn outline-success">Success</button>
          <button class="btn outline-error">Error</button>
          <button class="btn outline-warning">Warning</button>
        </div>
      </p>
      <iframe class="iframe-h-35"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520outline-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520outline-success%2522%253ESuccess%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520outline-error%2522%253EError%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520outline-warning%2522%253EWarning%253C%252Fbutton%253E%250A"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <div class="divider"></div>
      <h1 class="content-title">Link Button</h1>
      <p class="sub-content">
        Want to attach a link action, at a button tap? Use Link Button
        <div class="content-container">
          <button class="link-btn">
            <a href="link">Link</a>
          </button>
        </div>
      </p>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522link-btn%2522%253E%250A%2509%253Ca%2520href%253D%2522link%2522%253ELink%253C%252Fa%253E%250A%253C%252Fbutton%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <div class="divider"></div>
      <h1 class="content-title">Icon Button</h1>
      <p class="sub-content">
        Icon Buttons can be created, by using a SVG as a child to parent button.
        <div class="content-container">
          <button class="icon-btn">
            <i class="far fa-bookmark"></i>Bookmark
          </button>
          <button class="icon-btn">
            <i class="far fa-save"></i>Save
          </button>
        </div>
      </p>
      <iframe class="iframe-h-35"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522icon-btn%2522%253E%250A%2509%253Ci%2520class%253D%2522far%2520fa-bookmark%2522%253E%253C%252Fi%253E%250A%2520%2520%2509Bookmark%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522icon-btn%2522%253E%250A%2509%253Ci%2520class%253D%2522far%2520fa-save%2522%253E%253C%252Fi%253E%250A%2520%2520%2509Save%250A%253C%252Fbutton%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <div class="divider"></div>
      <h1 class="content-title">Floating Action Button</h1>
      <p class="sub-content">
        Icons are also appropriate for toggle buttons that allow a single choice to be selected or deselected, such as
        adding or removing a star to an item.
        <div class="content-container">
          <button class="action-btn">
            <i class="fas fa-arrow-up"></i>
          </button>
          <button class="action-btn">
            <i class="fas fa-check"></i>
          </button>
          <button class="action-btn">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
      </p>
      <iframe class="iframe-h-40"
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522action-btn%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-arrow-up%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522action-btn%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-check%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522action-btn%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-pencil-alt%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <div class="divider"></div>
      <div class="page-change">
        <a href="../Alert/Alert.html">
          < Alert</a> <a href="../Card/card.html">Card >
        </a>
      </div>
    </div>
  </div>
  </div>
  </div>
  <script src="../../docsite-js/theme.js"></script>
  <script src="../../docsite-js/sidebar.js"></script>
</body>

</html>