<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/content.css" />
    <link rel="stylesheet" href="../../css/divider.css" />
    <link rel="stylesheet" href="../../css/container.css" />
    <link rel="stylesheet" href="../../css/media-query.css">
    <link rel="stylesheet" href="https://storm-components.netlify.app/components.css">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Avatar | Storm UI</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a class="name" href="../../index.html"><i class="fas fa-bolt"></i> STORM</a>
        <div class="icon-container">
          <a href="https://github.com/B0llu">
            <i class="fab fa-github icon"></i>
          </a>
          <a href="https://twitter.com/TheBestDhruv">
            <i class="fab fa-twitter icon"></i>
          </a>
          <a>
            <i id="toggle-theme" class="fas fa-moon icon"></i>
          </a>
        </div>
      </nav>
      <div id="sidebar-menu" class="side-bar position-hidden">
        <div class="nested-list stick">
          <div>
            <h1 class="list-topic display-flex">Get Started <span class="margin-left"><i id="close-sidebar"
                  class="fas fa-times-circle"></i></span></h1>
            <ul class="list-subtopic">
              <li>
                <a class="link-hover" href="../../Documentation/Introduction.html">Introduction</a>
              </li>
              <li><a class="link-hover" href="../../Documentation/Color.html">Colors</a></li>
              <li>
                <a class="link-hover" href="../../Documentation/Typography.html">Typography</a>
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Conclusion.html">Conclusion</a>
              </li>
            </ul>
          </div>
          <div>
            <h1 class="list-topic">Components</h1>
            <ul class="list-subtopic">
              <li>
                <a class="link-active" href="./Avatar.html">Avatar</a>
              </li>
              <li><a class="link-hover" href="../Badge/Badge.html">Badge</a></li>
              <li><a class="link-hover" href="../Alert/Alert.html">Alert</a></li>
              <li><a class="link-hover" href="../Button/Button.html">Button</a></li>
              <li><a class="link-hover" href="../Card/card.html">Card</a></li>
              <li><a class="link-hover" href="../Image/image.html">Image</a></li>
              <li><a class="link-hover" href="../Input/input.html">Input</a></li>
              <li><a class="link-hover" href="../text-utilites/text-utilites.html">Text Utilities</a></li>
              <li><a class="link-hover" href="../lists/lists.html">Lists</a></li>
              <li><a class="link-hover" href="../navigation/navigation.html">Navigation</a></li>
              <li><a class="link-hover" href="../modal/modal.html">Modal</a></li>
              <li><a class="link-hover" href="../rating/rating.html">Rating</a></li>
            </ul>
          </div>
        </div>
        <div></div>
      </div>
      <div class="content">
        <i id="sidebar-toggle" class="fas fa-bars hamburger"></i>
        <h1 class="content-title">Avatar</h1>
        <p class="sub-content">
          This component consists of user profile pictures, usually found in
          circular shapes.
        </p>
        <div class="divider"></div>
        <h1 class="content-title">Profile Avatar</h1>
        <p class="sub-content">
          Profile Avatars can be created using the class 'avatar', inside the
          img tag.
          <br />
          <div class="content-container">
            <img
            class="avatar"
            src="../../Assets/avatar-1.jpg"
            alt="Avatar-1"
            />
            <img
            class="avatar"
            src="../../Assets/avatar-2.jpg"
            alt="Avatar-2"
            />
            <img
            class="avatar"
            src="../../Assets/avatar-3.jpg"
            alt="Avatar-3"
            />
          </div>
        </p>
        <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
        <div class="divider"></div>
        <h1 class="content-title">Sized Avatar</h1>
        <p class="sub-content">
          Size of the avatar can be changed by adding la (11rem) | md (9rem) |
          sm (5rem) class to existing avatar class
          <div class="content-container">
            <img
              class="avatar avatar-lg"
              src="../../Assets/avatar-1.jpg"
              alt="Avatar-1"
            />
            <img
              class="avatar avatar-md"
              src="../../Assets/avatar-2.jpg"
              alt="Avatar-2"
            />
            <img
              class="avatar avatar-sm"
              src="../../Assets/avatar-3.jpg"
              alt="Avatar-3"
            />
          </div>
        </p>
        <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-lg%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-md%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-sm%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
        <div class="divider"></div>
        <h1 class="content-title">Square Avatar</h1>
          <p class="sub-content">

            Addind a 'square' class to existing class, will generate a square
            shaped avatar.
            <div class="content-container">
              <img
                class="avatar avatar-lg sq-border"
                src="../../Assets/avatar-1.jpg"
                alt="Avatar-1"
              />
              <img
                class="avatar avatar-md sq-border"
                src="../../Assets/avatar-2.jpg"
                alt="Avatar-2"
              />
              <img
                class="avatar avatar-sm sq-border"
                src="../../Assets/avatar-3.jpg"
                alt="Avatar-3"
              />
            </div>
          </p>
          <iframe class="iframe-h-30"
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=lucario&wt=none&l=htmlmixed&width=339&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-lg%2520sq-border%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-md%2520sq-border%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-sm%2520sq-border%2522%2520src%253D%2522...%2522%2520alt%253D%2522...%2522%252F%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
          <div class="divider"></div>
          <div class="page-change">
            <a href="../../Documentation/Introduction.html"> < Get Started</a>
            <a href="../Badge/Badge.html">Badge ></a>
          </div>
        </div>
      </div>
    </div>
    <script src="../../docsite-js/theme.js"></script>
    <script src="../../docsite-js/sidebar.js"></script>
  </body>
</html>
