<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/content.css" />
    <link rel="stylesheet" href="../../css/divider.css" />
    <link rel="stylesheet" href="../../css/container.css" />
    <link rel="stylesheet" href="../../css/media-query.css" />
    <link
      rel="stylesheet"
      href="https://storm-components.netlify.app/components.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Lists | Storm UI</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a class="name" href="../index.html">STORM</a>
        <div class="icon-container">
          <a href="https://github.com/B0llu">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/TheBestDhruv">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </nav>
      <div class="side-bar">
        <div class="nested-list stick">
          <div>
            <h1 class="list-topic">Get Started</h1>
            <ul class="list-subtopic">
              <li>
                <a
                  class="link-hover"
                  href="../../Documentation/Introduction.html"
                  >Introduction</a
                >
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Color.html"
                  >Colors</a
                >
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Typography.html"
                  >Typography</a
                >
              </li>
              <li>
                <a class="link-hover" href="../../Documentation/Conclusion.html"
                  >Conclusion</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h1 class="list-topic">Components</h1>
            <ul class="list-subtopic">
              <li>
                <a class="link-hover" href="../Avatar/Avatar.html">Avatar</a>
              </li>
              <li>
                <a class="link-hover" href="../Badge/Badge.html">Badge</a>
              </li>
              <li>
                <a class="link-hover" href="../Alert/Alert.html">Alert</a>
              </li>
              <li>
                <a class="link-hover" href="../Button/Button.html">Button</a>
              </li>
              <li><a class="link-hover" href="../Card/card.html">Card</a></li>
              <li><a class="link-hover" href="../Image/image.html">Image</a></li>
              <li><a class="link-hover" href="../Input/input.html">Input</a></li>
              <li><a class="link-hover" href="./text-utilites.html">Text Utilities</a></li>
              <li><a class="link-hover" href="../lists/lists.html">Lists</a></li>
              <li><a class="link-active" href="./navigation.html">Navigation</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content">
        <h1 class="content-title">Lists</h1>
        <p class="sub-content">
          Lists are continuous, vertical indexes of text or images. They are composed of items containing primary and supplemental actions, which are represented by icons and text.
        </p>
        <div class="divider"></div>
        <h1 class="content-title">Simple List</h1>
        <p class="sub-content">This is a Simple List seen in many site's.
            <div class="content-container">
             
            </div>
        </p>

<div class="divider"></div>
<h1 class="content-title">Notification Lists</h1>
        <p class="sub-content">These lists will have header and its subtext.
            <div class="content-container">
                
            </div>
        </p>
<div class="divider"></div>
<div class="page-change">
                <a href="../lists/lists.html"> < Lists</a>
                <a href="../Input/input.html">Modal ></a>
              </div>
      </div>
    </div>
  </body>
</html>
