<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/sidebar.css" />
    <link rel="stylesheet" href="../../css/content.css" />
    <link rel="stylesheet" href="../../css/divider.css" />
    <link rel="stylesheet" href="../../css/media.css" />
    <link
      rel="stylesheet"
      href="https://storm-components.netlify.app/components.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Storm UI</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a class="name" href="../index.html">Storm</a>
      </nav>
      <div class="side-bar">
        <div class="nested-list stick">
          <div>
            <div class="list-topic">Get Started</div>
            <div class="list-subtopic">
              <li>
                <a href="../../Documentation/Introduction.html">Introduction</a>
              </li>
              <li><a href="../../Documentation/Color.html">Colors</a></li>
              <li>
                <a href="../../Documentation/Typography.html">Typography</a>
              </li>
              <li>
                <a href="../../Documentation/Conclusion.html">Conclusion</a>
              </li>
            </div>
          </div>
          <div>
            <div class="list-topic">Components</div>
            <div class="list-subtopic">
              <li>
                <a href="../Avatar/Avatar.html">Avatar</a>
              </li>
              <li><a class="active" href="./Badge.html">Badge</a></li>
              <li><a href="#">Alert</a></li>
              <li><a href="#">Button</a></li>
              <li><a href="#">Card</a></li>
              <li><a href="#">Image</a></li>
              <li><a href="#">Input</a></li>
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="content">
        <div class="content-title">Badge</div>
        <div class="sub-content">
          Badges are small circles, positioned either at top-right or
          bottom-right of the parent component. Badge can be used to display
          numbers, online / offline status, depending on where they are used
        </div>
        <div class="divider"></div>
        <div class="content-title">Profile Badge V1</div>
        <div class="sub-content">
          Profile Badge is used to show the current status of a user. (Showing
          status with a circular dot)
          <br />
          <div class="content-container">
            <div class="badge">
              <img
                class="avatar"
                src="../../Assets/avatar-1.jpg"
                alt="Avatar-1"
              />
              <div class="online"></div>
            </div>
            <div class="badge">
              <img
                class="avatar"
                src="../../Assets/avatar-2.jpg"
                alt="Avatar-2"
              />
              <div class="dnd"></div>
            </div>
            <div class="badge">
              <img
                class="avatar"
                src="../../Assets/avatar-3.jpg"
                alt="Avatar-3"
              />
              <div class="offline"></div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="content-title">Profile Badge V2</div>
        <div class="sub-content">
          Profile Badge is used to show the current status of a user. (Showing
          status with a border)
          <br />
          <div class="content-container">
            <div class="badge">
              <img
                class="avatar online-border"
                src="../../Assets/avatar-1.jpg"
                alt="Avatar-1"
              />
            </div>
            <div class="badge">
              <img
                class="avatar dnd-border"
                src="../../Assets/avatar-2.jpg"
                alt="Avatar-2"
              />
            </div>
            <div class="badge">
              <img
                class="avatar offline-border"
                src="../../Assets/avatar-3.jpg"
                alt="Avatar-3"
              />
            </div>
          </div>
        </div>
        <div class="divider"></div>

          <div class="page-change">
            <a href="../Avatar/Avatar.html"> < Avatar</a>
            <a href="#">Badge ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
